@charset "UTF-8";

@font-face {
    font-family: 'CascadiaMono';
    src: url(../assets/fonts/CascadiaMono.ttf),
        url(../assets/fonts/CascadiaMono.woff2);
}

.mdview {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.mdview code {
    font-family: 'CascadiaMono' !important;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html,
html * {
    box-sizing: border-box;
}